# --- GOOGLE API ---
# Pastikan Anda telah mensetup token.json dan credentials.json

# --- SYSTEM SETTINGS ---
REDIS_URL=redis://localhost:6379/0
FRONTEND_URL=http://localhost:3000

# --- EMAIL CONFIGURATION ---
SENDER_NAME="GDG on Campus UNSRI"
SENDER_EMAIL=dscunsri@gmail.com
